.ad-container {
    position: relative;
    margin: 25px 0px 0px 0px;
    width: 100%;
    height: 300px;
    background-color: var(--news-card-background);
    overflow: hidden;
    .ad-card {
        height: 100%;
        width: 100%;
        &:hover .ad-card-image {
            transform: scale(1.1);
        }
        .ad-card-image {
            width: 100%;
            height: 100%;
        transition: all 0.5s;
            
            img {
                width: 100%;
                height: 100%;
                opacity: 0.8;
            }
        }

        .ad-card-content {
            .ad-main-text {
                position: absolute;                        
                top: 180px;
                left: 25px;
                text-shadow: 0px 0px 8px #000000;
                font-size: 19px;
                color: #fff;
            }

            .ad-text {
                position: absolute;                        
                top: 210px;
                left: 25px;
                font-family: Montserrat-Medium, sans-serif;
                text-shadow: 0px 0px 8px #000000;
                font-size: 14px;
                color: #fff;
            }

            .ad-button {
                position: absolute;
                top: 250px;
                left: 25px;
                a {
                    button {
                        cursor: pointer;
                        color: #fff;
                        padding: 5px 16px 5px 16px;
                        border: none;
                        font-family: Montserrat-Medium, sans-serif;
                        background-color: var(--card-background);
                        transition: all 0.1s;
                        &:hover {
                            background-color: var(--card-background-hover);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .ad-container {
        grid-area: ad-box;
        margin: 0px 20px 0px 0px;
        .ad-card {
            &:hover .ad-card-image {
            }
            .ad-card-image {
                img {
                }
            }
    
            .ad-card-content {
                .ad-main-text {
                }
    
                .ad-text {
                }
    
                .ad-button {
                    a {
                        button {
                            &:hover {
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .ad-container {
        .ad-card {
            &:hover .ad-card-image {
            }
            .ad-card-image {
                img {
                    object-fit: cover;
                }
            }
    
            .ad-card-content {
                .ad-main-text {
                }
    
                .ad-text {
                }
    
                .ad-button {
                    a {
                        button {
                            &:hover {
                            }
                        }
                    }
                }
            }
        }
    }
}