.container-seach {
    display: flex;
    align-items: center;

    .search-label {
        display: flex;
        align-items: center;
        width: 250px;
        padding: 3px 20px 3px 20px ;
        background-color: #fff;
        border-radius: 20px;

        input {
            font-size: 14px;
            width: 100%;
            outline: none;
            border: none;
        }
    }
}


@media (max-width: 768px) {
    .container-seach {
        display: flex;
        align-items: center;
    
        .search-label {
            display: flex;
            align-items: center;
            width: 250px;
            padding: 5px 20px 5px 20px ;
            background-color: #fff;
            border-radius: 20px;
        }
    }
}

@media (max-width: 382px) {
    .container-seach {
    
        .search-label {
            width: 180px;
        }
    }
}