.page-numbers {
    display: flex;
    margin: 50px 0px 0px;
    padding: 0px 48px 0px 0px;
    justify-content: center;
    gap: 10px;
    color: #fff;
    .number {
        cursor: pointer;
    }
    .number-active {
        cursor: pointer;
        opacity: 0.6;
    }
    button {
        cursor: pointer;
        background-color: var(--slider-bg);
        border: none;
        color: #fff;
        font-size: 16px;
    }
}


@media (max-width: 850px) { 
    .page-numbers {
        padding: 0px;
        .number {
        }
        .number-active {
        }
        button {
        }
    }
}