@font-face {
  font-family: Montserrat-medium;
  src: url("../../fonts/Montserrat-SemiBold.ttf");
}

.marking {
  background-color: var(--nav-color);

  .container_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    height: 60px;
    margin: 0 auto;
    color: #fff;

    .navbar-content {
      display: flex;
      align-items: center;

      .logo {
        font-size: 28px;

        a {
          text-decoration: none;
          color: #fff;
        }
      }

      .nav-menu {
        ul {
          display: flex;
          font-size: 15px;
          list-style-type: none;
          margin: 0px 0px 0px 40px;
          gap: 25px;
          a {
            text-decoration: none;
            transition: all 0.15s ease-in-out;

            &:hover {
              opacity: 0.7;
            }

            li {
              font-family: Montserrat-medium, sans-serif;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .marking {
    background-color: var(--nav-color);

    .container_nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 950px;
      height: 60px;
      margin: 0 auto;
      color: #fff;

      .navbar-content {
        .nav-menu {
          ul {
            display: flex;
            font-size: 15px;
            list-style-type: none;
            margin: 0px;
            gap: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .marking {
    background-color: var(--nav-color);

    .container_nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 100%;
      height: 60px;
      margin: 0 auto;
      color: #fff;

      .navbar-content {
        margin: 0px 0px 0px 20px;
        .logo {
            font-size: 28px;
    
            a {
              text-decoration: none;
              color: #fff;
            }
          }

        .nav-menu {
          display: none;
          ul {
            display: flex;
            font-size: 15px;
            list-style-type: none;
            margin: 0px;
            gap: 25px;
          }
        }
      }
    }
  }
}
