.content-wrapper {
    height: 100%;
    width: 100%;
    .content-title {
        display: flex;
        align-items: center;
        gap: 30px;
        .content-text {
            font-size: 34px;
            width: 550px;
            color: #fff;
        }
        .content-separation {
            height: 1px;
            width: 100%;
            background-color: #fff;
        }
    }
    .news-feed {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: minmax(245px,1fr);
        padding: 30px 0px 0px;
        height: 100%;
        width: 100%;
        gap: 15px;
        .trigger-infinite_scroll {
            height: 20;
            background: "transparent";
        }
        .news-card {
            .news-card_image {
                width: 100%;
                height: 175px;
                background-color: var(--news-card-background);
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .news-card_box {
                display: flex;
                flex-direction: column;
                padding: 7px 4px 3px 4px;
                gap: 5px;
                .news-card_title {
                    font-size: 15px;
                    a {
                        color: #fff;
                        text-decoration: none;
                    }

                }
                .news-card_data {
                    font-size: 11px;
                    opacity: 0.4;
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


@media (max-width: 1300px) {
    .content-wrapper {
        .content-title {
            gap: 0;
            .content-text {
                font-size: 25px;
                width: 450px;
            }
            .content-separation {
                width: 100%;
            }
        }
        .news-feed {
            .news-card {
                .news-card_image {
                }
                .news-card_box {
                    .news-card_title {
                        font-size: 12px;
                        a {
                        }
    
                    }
                    .news-card_data {
                        font-size: 10px;
                        a {
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .content-wrapper {
        .content-title {
            gap: 0;
            .content-text {
                font-size: 25px;
                width: 450px;
            }
            .content-separation {
                width: 100%;
            }
        }
        .news-feed {
            .news-card {
                .news-card_image {
                }
                .news-card_box {
                    .news-card_title {
                        font-size: 12px;
                        a {
                        }
    
                    }
                    .news-card_data {
                        font-size: 10px;
                        a {
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .content-wrapper {
        .content-title {
            .content-text {
            }
            .content-separation {
            }
        }
        .news-feed {
            grid-template-columns: repeat(2,1fr);
            .news-card {
                .news-card_image {
                }
                .news-card_box {
                    .news-card_title {
                        a {
                        }
    
                    }
                    .news-card_data {
                        a {
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .content-wrapper {
        .content-title {
            .content-text {
                font-size: 26px;
            }
            .content-separation {
                display: none;
            }
        }
        .news-feed {
            .news-card {
                .news-card_image {
                }
                .news-card_box {
                    .news-card_title {
                        a {
                        }
    
                    }
                    .news-card_data {
                        a {
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .content-wrapper {
        .content-title {
            .content-text {
            }
            .content-separation {
            }
        }
        .news-feed {
            gap: 0px;
            grid-template-columns: repeat(1,1fr);
            .news-card {
                .news-card_image {
                }
                .news-card_box {
                    .news-card_title {
                        a {
                        }
    
                    }
                    .news-card_data {
                        a {
                        }
                    }
                }
            }
        }
    }
}